@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
:root {
  /* Colors */
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  /* Typography*/
  --font-size: 15px;
  --font-outfit: "Outfit", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  font-size: var(--font-size);
  font-family: var(--font-outfit);
}
